<div class="pop-container pop-up" id="coming-soon">
	    <div class="pop">
	    	<h5>Akan Datang!</h5>
	    	<p> Maaf, kelas akan hanya bermula pada 10 Januari.</p>
	    	<button class="pop-btn" id="coming-soon-close">Faham!</button>
	    </div>
</div>

<div class="pop-container pop-up" id="share">
	    <div class="pop">
	    	<h5>Kongsi</h5>
				<div class="share-options">
				<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//sekolahkita.my" target="_blank" class="share-icon"><img src="images/menu/Group-318.svg" alt="Facebook share"></a>
				<a href="https://twitter.com/intent/tweet?text=Pendidikan%20adalah%20untuk%20semua%20https%3A//sekolahkita.my" target="_blank" class="share-icon"><img src="images/menu/Group-317.svg" alt="Twitter share"></a>
				<a href="https://api.whatsapp.com/send?text=Pendidikan%20adalah%20untuk%20semua%20https%3A//sekolahkita.my" target="_blank" class="share-icon"><img src="images/menu/Group-316.svg" alt="Whatsapp share"></a>
				<div class="tooltip">
				<input type="text" value="https://sekolahkita.my" id="myInput">
					<button onclick="copytoclipboard()" onmouseout="outFunc()">
		  				<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
		  				<img src="images/menu/Group-319.svg" alt="Copy link">
		  		</button>
				</div>
				</div>
	    	<button class="pop-btn" id="share-close">Siap!</button>
	    </div>
</div>
