<!-- <div class="pop-container pop-up">
	    <div class="pop" id="coming-soon">
	    	<h5>Coming Soon!</h5>
	    	<p> Sorry, class will only begin on 10th January.</p>
	    	<button class="pop-btn">Got it!</button>
	    </div>
	</div>
 -->