<div class="pop-container pop-up" id="access-denied">
      <div class="pop">
        <h5>Access Denied!</h5>
        <p>You may only access this feature once you have read the story and complete the treasure hunt.</p>
        <p>When you’ve found all 12 key ways we can improve education access for Orang Asli children, you’ll unlock a reward that you can share with your friends!</p>
        <button class="pop-btn" id="access-denied-close">Got it!</button>
      </div>
  </div>

  <div class="pop-container pop-up" id="share">
  	    <div class="pop">
  	    	<h5>Share</h5>
  				<div class="share-options">
  				<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//sekolahkita.my" target="_blank" class="share-icon"><img src="/images/menu/Group-318.svg" alt="Facebook share"></a>
  				<a href="https://twitter.com/intent/tweet?text=Empower%20education%20for%20all%20at%20https%3A//sekolahkita.my" target="_blank" class="share-icon"><img src="/images/menu/Group-317.svg" alt="Twitter share"></a>
  				<a href="https://api.whatsapp.com/send?text=Empower%20education%20for%20all%20at%20https%3A//sekolahkita.my" target="_blank" class="share-icon"><img src="/images/menu/Group-316.svg" alt="Whatsapp share"></a>
  				<div class="tooltip">
  				<input type="text" value="https://sekolahkita.my" id="myInput">
  					<button onclick="copytoclipboard()" onmouseout="outFunc()">
  		  				<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
  		  				<img src="/images/menu/Group-319.svg" alt="Copy link">
  		  		</button>
  				</div>
  				</div>
  	    	<button class="pop-btn" id="share-close">Done!</button>
  	    </div>
  </div>
