
<div class="pop-container pop-up  left" id="hunt-incomplete">
      <div class="pop">
        <p> You've found X solution(s)! X more to go! Keep track of your progress with this scorecard here.</p>
        <p>Find all the solutions to unlock your reward</p>
        <div class="scorecard-display">
          <p>YOUR SCORECARD:</p>
          <img class="score-coin" src="/images/menu/group-369.svg" alt="">
      </div>
        <button id="hunt-incomplete-close" class="pop-btn">Understood!</button>
      </div>
  </div>


<div class="pop-container pop-up" id="hunt-complete" >
    <div class="pop">
      <img src="/images/party-popper_1f389@2x.png" style="width:10%;" alt="">
      <div class="scorecard-display">
        <p>YOUR SCORECARD:</p>
        <img class="score-coin" src="/images/menu/group-369.svg" alt="">
      </div>
      <p> You’ve done it! You’ve learned the X key ways we can improve education access for Orang Asli children! Your reward is now unlocked.</p>


      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Take me to my reward</button>

    </div>
</div>

<!-- Recommendation popups  -->
<div class="pop-container pop-up" class="recommendation" id="rec-1">
    <div class="pop">
      <p><strong>Recommendation 1: There must be a greater focus on learning and addressing underlying challenges instead of symptomatic issues.</strong></p>
      <p>The general school culture must prioritise learning instead of examinations or rote memorisation. High-quality education that can motivate and nurture students is needed to produce Orang Asli students who are independent learners. Policies and programmes need to address underlying issues instead of only dealing with symptomatic problems at a surface level which do not resolve or eradicate these issues.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-2">
    <div class="pop">
      <p><strong>Recommendation 2: Indigenous cultures and history must be integrated into the mainstream curriculum.</strong></p>
      <p>It is very important that indigenous cultures and history be included in the mainstream curriculum, and that Orang Asli should not be represented as an exotic “other”, but celebrated as part of the diversity of peoples in Malaysia. Schoolchildren should be taught about different Orang Asli sub-ethnic groups, where they live, their contribution to nation-making, their arts, and their cultures that are closely linked to the natural environment.</p>
      <p>The Orang Asli's rights to self-determination as indigenous peoples should also be included in mainstream education.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-3">
    <div class="pop">
      <p><strong>Recommendation 3: Existing programmes must be monitored and evaluated to ensure their efficient and effective delivery and implementation.</strong></p>
      <p>Regular monitoring, and mid- and post-programme evaluations are needed to ensure that programmes remain on track and are adjusted for new issues that may arise. This monitoring and evaluation needs to be considered at the beginning of the original programme design.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-4">
    <div class="pop">
      <p><strong>Recommendation 4: Teachers and school leaders who are equipped and capable of delivering quality education for Orang Asli students need to be entrusted with greater autonomy and balanced accountability.</strong></p>
      <p>Teachers and school leaders who are able to enhance the quality of education for Orang Asli students should be given the freedom to do so, as they could be role models that drive change. However, this autonomy needs to be balanced with accountability. These teachers and school leaders also need to be further trained and equipped to fully leverage this autonomy to deliver effective teaching and learning along with the efficient allocation of resources.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-5">
    <div class="pop">
      <p><strong>Recommendation 5: Pre-posting training on Orang Asli cultures could be provided to teachers, and infrastructure and resources for teachers in Orang Asli schools should be improved.</strong></p>
      <p>Teachers who are posted to schools with Orang Asli students should be provided with training to introduce them to the history and culture of the particular Orang Asli sub-ethnic group they will be teaching. This preparation module could also include implicit bias training to create self- awareness of learned racial biases against Orang Asli.</p>
      <p>Teachers who are posted in Orang Asli schools often take up many different responsibilities outside the classroom, such as taking care of students after school and maintaining the school’s infrastructure. These teachers should be given more support and increased allowances for these added responsibilities. Their living conditions and teaching infrastructure could also be improved.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-6">
    <div class="pop">
      <p><strong>Recommendation 6: Teachers should be trained in innovative and adaptive pedagogies, and platforms for knowledge sharing could be established.</strong></p>
      <p>Teachers should be introduced to different teaching tools such as culturally responsive and adaptive pedagogies, both before and during their postings, with experienced teachers encouraged to share their best practices and offer advice to new teachers.</p>
      <p>Other knowledge sharing initiatives could include annual teaching conferences, to foster networking and support among teachers; and user-friendly online knowledge sharing platforms as a resource for teachers.</p>
      <p>Teachers often use their private funds to create innovative teaching tools. They should be supported, and a teaching and learning fund be made available to teachers. Recognition should also be given to teachers and schools for their best practices.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-7">
    <div class="pop">
      <p><strong>Recommendation 7: Trust and collaboration between schools and Orang Asli communities needs to be built as Orang Asli parents and their communities are important partners in education.</strong></p>
      <p>This is critical in creating a supportive environment for Orang Asli children. Schools and communities should have open communication and work collaboratively. Schools can also draw upon the community’s expertise and local knowledge as part of the learning experience for their students.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-8">
    <div class="pop">
      <p><strong>Recommendation 8: Community-based schools (PDK) need to be recognised as part of the support system for schools and adequate essential resources should be provided to PDKs.</strong></p>
      <p>Support and recognition should be given to PDKs for their important role in community education. PDKs provide preschool education, after-school programmes and in some cases alternative schooling for children without access to public schools or those who have dropped out. Some PDKs also provide learning opportunities for adults in the community.</p>
      <p>Support can be in the form of funding and resource assistance to PDKs, including infrastructure such as libraries, computers and reliable internet connection. However, their autonomy should remain an important feature of their governance structure.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-9">
    <div class="pop">
      <p><strong>Recommendation 9: Good quality preschool education needs to be provided based on learning through play, social interaction, and their environment.</strong></p>
      <p>Orang Asli students without access to preschools are at a disadvantage when they enter Standard 1, as the curriculum assumes that students can already read, write, and count. Teachers have to pay special attention to teach them these basic skills, but this may not be possible given large class sizes. Students who attend preschool may also be more confident in their abilities and are able to transition to schooling life better. There are many villages without access to preschools and the founding of more community-based learning centres (PDK) could play an important role in providing preschool education for Orang Asli children.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-10">
    <div class="pop">
      <p><strong>Recommendation 10: Orang Asli communities should be empowered to be their own agents of change and participate in the process of Orang Asli-related policies.</strong></p>
      <p>This ensures that their cultures and views are incorporated in policymaking. Education issues and challenges should be addressed with Orang Asli parents and communities at the school, state, and national levels.</p>
      <p>The creation of an Orang Asli education council comprising Orang Asli leaders, education policymakers, principals, teachers, and other relevant stakeholders to govern and monitor the progress of policy and programmes for children would help to ensure voices of the Orang Asli are fully taken into account and are involved in the close monitoring of any programmes.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-11">
    <div class="pop">
      <p><strong>Recommendation 11: Create a strength-based discourse to shift away from the current deficit discourse on Orang Asli.</strong></p>
      <p>Orang Asli students’ high dropout rate and gap in educational achievement are often attributed to their culture and way of life. All stakeholders need to move away from this 'deficit discourse', and instead adopt a strength-based framing that values Orang Asli culture as an asset. This includes shifting to culturally responsive teaching methods that draw on the students' cultural context to make learning relevant and effective.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

<div class="pop-container pop-up" class="recommendation" id="rec-12">
    <div class="pop">
      <p><strong>Recommendation 12: The collaboration of relevant ministries must be strengthened to address the multidimensional challenges that Orang Asli children and communities face.</strong></p>
      <p>Multiple agencies need to coordinate in order to provide access to high-quality education. This includes building schools that are close to the villages, providing safe and reliable transportation and roads, and financial and resource assistance to families and schools.</p>
      <p>Infrastructure such as hostels, libraries, computer centres, and internet connectivity are also desperately needed.</p>
      <p>At the village level, basic amenities like electricity and clean water are vital.</p>
      <p>The cooperation of NGOs and other charitable foundations are also needed in this effort. Information flow and transparency on the availability of assistance also need to be addressed so that parents and students are aware of and have access to the assistance and resources available to them.</p>

      <button id="hunt-complete-close" class="pop-btn grey">Continue Reading</button>
      <button class="pop-btn">Check my scorecard</button>
    </div>
</div>

