<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <%- include menu/nav-btn.ejs %>
      <%- include popups/coming-soon.ejs %>
        <section class="chapter-wrapper">
            <section class="flex-item-left">
                <img src="/images/chapters/chapter-3.png" alt="">
            </section>

            <section class="flex-item-right">
              <div class="ch-label"><div>CHAPTER 3</div></div>
                 <h3>"If you teach us in the right way, everyone can learn”</h3>
                 <div class="ch-content">
                   <p>When Donny first started school, he had a habit of burning his clothes.</p>
                   <p>No, he wasn’t playing with fire. And he wasn’t suffering from kitchen mishaps. It was just his first time ironing clothes.</p>
                   <p>“I was that sort of boy,” Donny says. “I would turn the heat all the way up.”</p>
                   <p>“I remember I burnt three or four shirts that way.”</p>
                   <p>Donny was only seven years old then, staying in a school hostel, his first time away from his family.</p>
                   <p>“When I first started, I had to be completely independent,” remembers Donny. “But luckily, there were hostel wardens there who helped teach us.”</p>
                   <p>“That’s how I learned to iron my clothes.”</p>
                   <p>Many Orang Asli communities are located outside the reach of tar roads, far away from government schools, making hostel schools the only realistic option for formal education.</p>
                   <p>Often, these schools are so far away, or the roads so poor, that students rarely have a chance to visit home during the school semester. In these long absences, there is a parenting gap that schools need to fill.</p>
                   <p>Donny’s hostel warden filled that parenting gap well. After all, his was a Pusat Intelek school, built for high-achieving Orang Asli students. Conversely, many Orang Asli who attend normal hostel schools report poor experiences.</p>
                   <p>In 2015, seven primary school Orang Asli students went missing from a hostel school in Pos Tohoi, Kelantan. School authorities initially assumed the students were playing truant, and tried looking for them in their homes. When that proved untrue, a police report was filed, and a search operation combed through the surrounding forests.</p>
                   <p>After a 46-day search that gripped the nation, only two were found alive, but starving to the point of death. The remains of four of their friends were found nearby. One is still missing, presumed dead.</p>
                   <p>The next day, the emaciated faces of the two survivors stared out at us from newspaper front pages and online reports. Their story soon emerged: They had escaped into the forest and hid there because they were afraid of the school’s teachers.</p>
                   <p>They told of how the teachers regularly hit students as punishment, and described other forms of punishment bordering on torture.</p>
                   <p>While corporal punishment is not uncommon in Malaysian schools – it is officially prohibited, but still prevalent – it is almost never practised in Orang Asli households, where children are usually disciplined politely.</p>
                   <p>To date, there has been no indication that disciplinary action was taken against the school or the teachers involved.</p>
                   <p>Needless to say, the affected families in Pos Tohoi refused to send their children back to school. The behaviour of teachers had led to a tragedy that ruptured the Orang Asli’s trust in the school.</p>
                   <p>While the Pos Tohoi incident is an extreme example of what could happen, research interviews conducted by IDEAS uncovered many more instances where teachers seemed to disengage from Orang Asli students when the teachers’ efforts didn't elicit the results they expected.</p>
                   <p>One Orang Asli student says she often feels like her teachers don’t like teaching Orang Asli: “They don’t say it, but from the way they look at us, it’s like they are forced to teach us.”</p>
                   <p>Another claims her teacher openly called Orang Asli students “bodoh” and not worth teaching.</p>
                   <p>“Teachers are the schools. Without teachers, schools are just buildings. If teachers fail to engage meaningfully with students, no amount of infrastructure or facilities will help,” says Wan Ya Shin, one of the authors of the research.</p>
                   <p>“Engaging meaningfully involves appreciating the different contexts from which students come from, and adapting teaching methods to meet them at their level. <span id="clue-4" class="clue">Teachers who are experienced enough and capable to do so should be given the freedom to innovate, for the benefit of their students.”</span></p>
                   <p><span id="clue-4" class="clue">“At the same time, we need to make sure these teachers have the training and support to manage this autonomy, as it comes with greater responsibilities.”</span></p>
                   <p>A number of teachers interviewed by IDEAS found success with Orang Asli students when they adapted the syllabus for their students, instead of following it to the letter.</p>
                   <p>“It was just common sense – why would I teach a Year Five syllabus when my students could not read?” says Samuel Isaiah, a former teacher at an Orang Asli school, whose innovative teaching methods included mobile classrooms called “Sekolah Pokok”, where he taught lessons under a tree right in their village.</p>
                   <p>“I didn’t change the curriculum, I adapted it to the needs of the children,” he continued. “When I first meet my students, I conduct a needs analysis, and work my way from there, so that they eventually align with the curriculum.”</p>
                   <p>Another teacher said that when the UPSR was cancelled due to the Covid-19 pandemic, it allowed her more freedom to teach at the students’ pace rather than rush to finish the syllabus in time for exams. She noticed better learning outcomes.</p>
                   <p><span id="clue-1" class="clue">“This shows a need to move away targets that are too exam-oriented, and to instead build classrooms that focus on addressing the underlying issues that affect learning outcomes,” says Ya Shin. “Otherwise, we might be at risk of hitting the target but missing the point.”</span></p>
                   <p><a href="https://docs.google.com/document/d/18ZludIWP10XAmbFxIl5fdfqE5MnULC9py-_PukT2i2o/edit">Meet the hero teachers who are reimagining their classrooms</a></p>
                   <p><span id="clue-10" class="clue">In almost all cases where teachers found success, active participation from students and their communities was the first step.</span></p>
                   <p>“It informed my everyday practice as an English teacher. I listened, I reflected, I evaluated, and then I revamped again. That process happened actively,” says Samuel, who <span id="clue-7" class="clue">spent a year engaging with his students and their communities, before devising contextualised interventions. He even visited his students and brought their families to the school to build rapport.</span></p>
                   <p>“They started realising that what they had to say was important to what was happening in the classroom, and I began to receive amazing feedback from them.” That feedback fed once again into Samuel’s process of continued innovation, leading to undeniable results – his students’ English pass rate grew from 30% (2008-2012) to 80% (2013-2017).</p>
                   <p>Donny, now 19 years old and studying in a vocational college, recognises the good fortune he had in attending his school, where most of the wardens and teachers were above reproach. But even he had bad experiences: “For me, the problem was that some teachers didn’t put in the effort to improve the education and curriculum for Orang Asli students,” he says.</p>
                   <p>“Orang Asli students will be more inclined towards physical activity (instead of classroom lessons), but if you teach them in the right way, everyone can learn.”</p>
                   <p>While teachers are rightly expected to do better, IDEAS’ research suggests they are not helped by a systemic lack of support.</p>
                   <p><span id="clue-5" class="clue">“We need to make sure teachers assigned to rural schools are better prepared for their jobs, by giving them the right training and sensitisation, as well as adequate living conditions”,</span> says Ya Shin, noting that many teachers she interviewed felt unprepared and unsupported to deal with the challenges of teaching Orang Asli students, especially in a rural setting. <span id="clue-6" class="clue">“But beyond that, we need a platform where these teachers can share their successes and failures, and learn from each other.”</span></p>
                   <p>Donny has a much simpler solution, that echoes Samuel’s urge for greater participation from the community: “If the schools are not building the Orang Asli community – well that’s why I’m working hard now,” he says. “That’s why I want to be a teacher for the Orang Asli community.”</p>
                 </div>
             
                <div class="ch-finished">
                  <img src="images/menu/group-110.svg" alt="">
                  <span>You have completed this chapter</span>
                  <button class="ch-prev"><a href="/en/chapter2">< PREVIOUS</a></button>
                  <button class="ch-next"><a href="/en/chapter4">NEXT ></a></button>
                </div> 
 
              
            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    </body>
</html>
