<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script>
  <script src="/javascripts/ease.js"></script>
   <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/chapter2.css' />
  <link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <%- include menu/nav-btn.ejs %>
      <%- include popups/popup.ejs %>
      <%- include popups/treasure-hunt.ejs %>
<section class="ch-2">
      <!-- <div id="view-chapter2">
        <button id="school-start">START</button>
        <button id="school-prev">PREVIOUS</button>
        <button id="school-next">NEXT</button>
      </div> -->

      <div id="view-chapter2">
        <div class="info-box">
          <!-- <button id="school-start">START</button> -->
          <h1>Hello</h1>
          <p>Hi</p>
          <button id="school-prev">PREVIOUS</button>
          <button id="school-next">NEXT</button>
        </div>

      </div>

      <div class="ch-finished">
        <img src="images/menu/group-110.svg" alt="">
        <!-- <span>You have completed this chapter</span> -->
            <button class="ch-prev"><a href="/en/chapter1">< PREVIOUS</a></button>
            <button class="ch-next"><a href="/en/chapter3">NEXT ></a></button>
      </div>
</section>

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/chapter2.js"></script>
    </body>
</html>
