<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>CREDITS</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/credits.css' />
</head>
    <body>
        <section class="credits-wrapper"> 
            <section class="flex-item-left">
                <div class="credit-desc">

                    <div class="img-top">
                        <img src="/images/credits-img/group-96.svg" alt="LOGO DESCRIPTION">
                    </div>
                        <p>Sekolah Kita is an interactive lesson that teaches all Malaysians about the barriers Orang Asli children face in achieving education equality, as well as some ways we could overcome those barriers.</p>
                        <p>The stories found here are based on primary research interviews conducted by the Institute for Democracy and Economic Affairs (IDEAS), and additional interviews with Orang Asli children conducted by the Sekolah Kita team.</p>
                        <p>We hope the lessons inspire you to take action in support of better education options for Orang Asli children.</p> 
                        <p>Sekolah Kita is produced by IDEAS in collaboration with Fourth Media.</p>
                    
                    <div class="img-bottom">
                        <img src="/images/credits-img/IDEAS-logo-03@2x.png" alt="LOGO DESCRIPTION">
                        <img src="/images/credits-img/TheFourth-logo-black@2x.png" alt="LOGO DESCRIPTION">
                    </div>
                </div>
            </section>

            <section class="flex-item-right">
                <div class="credit-col-left">
                    <p><strong>Research authors:</strong><br> Wan Ya Shin <br> Dr Rusaslina Idrus</p>
                    <p><strong>Project Manager:</strong><br> Wan Ya Shin</p>
                    <p><strong>Project coordinators:</strong><br> Ewanina Effandie<br> Vaisnavi Mogan Rao</p> 
                    <p><strong>Project team:</strong><br> Sharon Wah<br> Erzuyin Zulkifli</p>
                    <p><strong>Survey logistics coordinator:</strong><br> Tam Kar Lye</p>
                    <p><strong>Community coordinators:</strong><br> Sura Anjang Aluej</p>
                </div>
                <div class="credit-col-right">
                    <p><strong>Multimedia producer:</strong><br>Elroi Yee</p>
                    <p><strong>Web programmer:</strong><br>Yasmin Zulhaime<br> Richa Syal</p>
                    <p><strong>Web designer:</strong><br>Husna Ab Rahman</p>
                    <p><strong>Illustrator:</strong><br>Ooi Huiqi</p>
                    <p><strong>Translation:</strong><br>[name]</p>
                    <p><strong>Animation by:</strong><br>Eelhum</p>
                    <p><strong>Audio engineer for animation:</strong><br>Chris Higgs</p> 
                </div>
              
            </section>
        </section>


    </body>
</html>
