<!DOCTYPE html>
<html lang="ms">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="title" content="Tentang Sekolah Kita">
<meta name="description" content="Mengenai projek Sekolah Kita">
<meta name="og:title" content="Tentang Sekolah Kita">
<meta name="og:description" content="Mengenai projek Sekolah Kita">
<meta name="keywords" content="orang asli, malaysia, malaya, history, education">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="revisit-after" content="30 days">
<meta name="og:image" content="public/images/thumbnails/About-BM-and-Eng.jpg">
<meta name="twitter:card" content="summary_large_image">
<title>CREDITS</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
<link rel="icon" type="image/jpg" href="/images/favicon.png"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/credits.css' />
</head>
    <body>
      <%- include menu/nav-btn.ejs %>
      <%- include popups/popup.ejs %>
      <%- include popups/treasure-hunt.ejs %>
        <section class="credits-wrapper">
            <section class="flex-item-left">
                <div class="credit-desc">

                    <div class="img-top">
                        <img src="/images/credits-img/group-96.svg" alt="">
                    </div>
                        <p><em>Sekolah Kita</em> adalah sebuah pelajaran interaktif yang mengajar kita mengenai cabaran untuk mencapai pendidikan yang saksama untuk komuniti Orang Asli di Malaysia, serta cara-cara kita boleh mengatasi cabaran tersebut.</p>
                        <p>Kisah-kisah yang terkandung dalam pelajaran ini adalah berdasarkan kajian soal selidik yang dilaksanakan oleh Institut Demokrasi dan Hal Ehwal Ekonomi (IDEAS), berserta dengan temubual tambahan bersama kanak-kanak Orang Asli yang dibuat oleh pasukan Sekolah Kita.</p>
                        <p>Kami harap pelajaran ini dapat merangsang anda untuk mengambil tindakan dan menyokong pendidikan yang lebih saksama untuk komuniti Orang Asli.</p>
                        <p>Sekolah Kita is produced by IDEAS in collaboration with The Fourth, and funded by Yayasan Sime Darby.Sekolah Kita direka oleh IDEAS bersama The Fourth, dan dibiayai oleh Yayasan Sime Darby.</p>

                    <div class="img-bottom">
                        <img src="/images/credits-img/IDEAS-logo-03@2x.png" alt="IDEAS logo">
                        <img src="/images/credits-img/TheFourth-logo-black@2x.png" alt="The Fourth logo">
                        <img src="/images/credits-img/ysd-logo.png" alt="Yayasan Sime Darby logo">
                    </div>
                </div>
            </section>

            <section class="flex-item-right">
                <div class="credit-col-left">
                    <p><strong>Pengkaji:</strong><br> Dr Rusaslina Idrus <br> Wan Ya Shin</p>
                    <p><strong>Penemuramah:</strong><br> Muzaffar Yusry <br> Khairina Azmi <br> Erzuyin Zulkifli  <br>Ewanina Effandie <br> Wan Ya Shin</p>
                    <p><strong>Pengarah dan pengurus projek:</strong><br> Wan Ya Shin</p>
                    <p><strong>Penyelaras projek:</strong><br> Ewanina Effandie<br> Vaisnavi Mogan Rao</p>
                    <p><strong>Pelatih projek:</strong><br> Khoo Qi Xuan <br> Nazrul Nazri <br> Sofia Farouk <br> Khairina Azmi <br>Sharon Wah <br> Erzuyin Zulkifli <br> Zayana Zaikariah <br> Yew Sin Kai <br> Billy Buddell</p>

                </div>
                <div class="credit-col-right">
                    <p><strong>Penyelaras logistik sesi soal selidik:</strong><br> Tam Kar Lye</p>
                    <p><strong>Penyelaras komuniti:</strong><br> Raman Bah Tuin <br> Sura <br> Anjang Aluej</p>
                    <p><strong>Penerbit multimedia/pengarang teks:</strong><br>Elroi Yee</p>
                    <p><strong>Pembangunan laman sesawang:</strong><br>Yasmin Zulhaime<br> Richa Syal</p>
                    <p><strong>Rekaan grafik:</strong><br>Husna Ab Rahman</p>
                    <p><strong>Pengilustrasi:</strong><br>Ooi Huiqi</p>
                    <p><strong>Penterjemah:</strong><br>Erzuyin Zulkifly <br> Huda Ab Rahman</p>
                    <p><strong>Animasi:</strong><br>Eelhum</p>
                    <p><strong>Jurutera audio animasi:</strong><br>Chris Higgs</p>
                </div>

            </section>
        </section>

      <script src="/javascripts/script.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EPBWRZ4LCM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EPBWRZ4LCM');
</script>
    </body>
</html>
