<!DOCTYPE html>
<html lang="ms">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title><%= title %></title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="icon" type="image/jpg" href="/images/favicon.png"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
    	<!-- overlay -->
    	<section class="meet-heros">
    		<a href="/bab3#hero-teacher"><button class="close-btn"><img src="/images/icon-close.svg" alt="close"></button></a>
    		<div class="hero-center">
    			<h3>Kenali guru-guru wira kita</h3>
    			<div class="hero-content">
		            <div class="menu-outer" id="teacher-01">
		              <div class="menu-inner">
		                <img src="/images/chapters/faiz.png" alt="">
		              </div>
		                <div class="menu-title main">Cikgu Faiz</div>
		            </div>
    				<div id="hero-1">
			        	<h4>Cikgu Faiz</h4>
			        	<p>Cikgu Faiz merombak semula bilik darjahnya bersama komuniti Orang Asli yang diajarinya. Mereka memanggilnya The Learning Hut, ataupun ‘Pondok Belajar’.</p>
			        	<p>Ianya ruang luar yang direka dan dibina dengan kerjasama guru, kakitangan sekolah, komuniti, dan juga murid-murid itu sendiri. </p>
			        	<p>Murid-murid berperanan sebagai 'arkitek muda' yang menyumbang kepada reka bentuk ruang itu. Bahan-bahan binaan dibeli melalui sumbangan daripada guru dan komuniti, dan diangkut masuk ke kampung menggunakan pacuan empat roda. Buluh diperolehi oleh komuniti dari hutan berdekatan.</p>
			        	<p>Pondok Belajar menjadi ruang selamat di mana komuniti dapat mempelajari tentang apa-apa sahaja – daripada hidroponik dan projek kitar semula, kepada nyanyian dan tarian. Guru boleh menggunakan ruang itu untuk pembelajaran berasaskan pengalaman dan murid-murid boleh menggunakannya semata-mata untuk mengisi masa lapang.</p>
			        	<p>Beberapa pelajaran menarik yang diajar di sana, termasuk mempelajari tentang penjarakkan sosial melalui roleplay, dan mempelajari Bahasa Inggeris dengan memasak mi segera.</p>
			        	<p>The Learning Hut memberikan impak yang nyata. Pada tahun 2018, sebelum ia dibina, kadar kelulusan UPSR untuk murid di sekolah itu adalah sifar bagi kedua-dua pemahaman dan penulisan Bahasa Inggeris. Pada tahun 2019, 15 daripada 40 murid lulus pemahaman Bahasa Inggeris, manakala lima daripada 40 murid lulus penulisan Bahasa Inggeris.</p>
		        	</div>

		        	<div class="menu-outer" id="teacher-02" style="margin-top: 1.3em;">
			          <div class="menu-inner">
			            <img src="/images/chapters/samuel.png" alt="">
			          </div>
			          <div class="menu-title main">Teacher Samuel Isaiah</div>
				    </div>
		       		<div id="hero-2" style="margin-top: 3em;">
			        	<h4>Teacher Samuel Isaiah</h4>
			        	<p>Semasa Teacher Samuel mula-mula mengajar di sebuah sekolah rendah di Pahang, beliau menyedari bahawa antara halangan utama pendidikan bagi kanak-kanak Orang Asli ialah persepsi dalam kalangan guru bahawa kanak-kanak Orang Asli tidak boleh diajar.</p>
			        	<p>Samuel enggan menerima persepsi itu, dan sebaliknya memutuskan untuk meneliti kembali strategi pengajarannya, untuk melihat jika beliau boleh menjadikannya lebih mudah untuk diakses oleh kanak-kanak Orang Asli.</p>
			        	<p>Selepas menjalankan analisis keperluan ke atas murid-muridnya, beliau segera menyedari bahawa mengikuti sukatan pelajaran yang sedia ada tidak akan memberi kesan yang efektif kepada kanak-kanak yang tidak boleh membaca.</p>
			        	<p>Beliau kemudian mula berinteraksi dengan murid-muridnya, keluarga mereka, seluruh komuniti, sehingga membawa ibu bapa mereka ke sekolah untuk menjalin hubungan.</p>
			        	<p>Malah lebih daripada itu, Samuel membawa sekolah ke dalam komuniti, dengan mengadakan kelas 'Sekolah Pokok' di dalam kampung mereka.</p>
			        	<p>Usaha beliau meningkatkan kadar kelulusan Bahasa Inggeris anak muridnya daripada 30% (2008-2012) ke 80% (2013-2017).</p>
			        	<p>Tetapi yang lebih penting, beliau membantu menjadikan pendidikan suatu usaha komuniti, di mana murid-murid serta ibu bapa mempunyai pengaruh yang kuat atas apa yang berlaku di dalam bilik darjah.</p>
		        	</div>

		        	<div class="menu-outer"id="teacher-03" style="margin-top: 1.3em;">
			          <div class="menu-inner">
			            <img src="/images/chapters/subaidi.png" alt="">
			          </div>
			            <div class="menu-title main">Cikgu Subaidi</div>
				    </div>
		        	<div id="hero-3" style="margin-top: 3em;">
			        	<h4>Cikgu Subaidi</h4>
			        	<p>Bagi Cikgu Subaidi, guru-guru sepatutnya diberi kebebasan untuk mengadaptasikan kaedah pengajaran supaya sesuai dengan tahap anak murid dan konteks mereka. Itu kerana beliau sendiri telah berjaya dengan pendekatan seperti itu.</p>
			        	<p>Dia memanggil kaedah pengajarannya 'Rimbagogi'. Pelajaran diterap dengan unsur-unsur yang diambil daripada kehidupan seharian, persekitaran dan murid-murid Orang Asli, menjadikannya senang untuk difahami.</p>
			        	<p>Apabila pelajaran memerlukan murid-murid memahami konsep yang asing bagi mereka, Cikgu Subaidi menggunakan teknologi untuk merapatkan jurang. Contohnya, beliau menggunakan set kepala realiti maya untuk membantu anak muridnya mempelajari tentang Menara Berkembar Petronas.</p>
			        	<p>Kaedah inovatif lain yang digunakannya termasuklah penggunaan permainan papan untuk mengukuhkan perbendaharaan kata dan ejaan anak muridnya.</p>
			        	<p>Dari tahun 2016 hingga 2019, kadar kelulusan Bahasa Inggeris untuk anak muridnya adalah 100%.</p>
		        	</div>
		        </div>



    			<!-- <div class="hero-img"> -->



		        <!-- </div> -->
    		</div>
    	</section>


    <script src="/javascripts/script.js"></script>
    </body>
</html>
