<!DOCTYPE html>
<html lang="ms">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title><%= title %></title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="icon" type="image/jpg" href="/images/favicon.png"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
    	<!-- overlay -->
    	<section class="meet-heros">
    		<a href="/en/chapter3#hero-teacher"><button class="close-btn"><img src="/images/icon-close.svg" alt="close"></button></a>
    		<div class="hero-center">
    			<h3>Meet Our Hero Teachers</h3>
    			<div class="hero-content">
		            <div class="menu-outer" id="teacher-01">
		              <div class="menu-inner">
		                <img src="/images/chapters/faiz.png" alt="">
		              </div>
		                <div class="menu-title main">Cikgu Faiz</div>
		            </div>
    				<div id="hero-1">
			        	<h4>Cikgu Faiz</h4>
			        	<p>Cikgu Faiz literally reimagined a classroom together with the Orang Asli community he was working in. They call it the Learning Hut.</p>
			        	<p>It was an outdoor space designed and built in collaboration with teachers, school staff, the community, and even the students themselves.</p>
			        	<p>The students were consulted as “little architects” on the design of the space. Building materials were bought through contributions from teachers and the community, and transported in on four-wheel drives. Bamboo was sourced by the community from nearby forests.</p>
			        	<p>The Learning Hut became a safe space where the community could learn about anything and everything – from hydroponics and recycling projects, to singing and dancing. Teachers could use the space for experiential learning, and students could access it just to hang out.</p>
			        	<p>Some of the more interesting lessons taught there include learning about social distancing through role-play, and learning English through cooking instant noodles.</p>
			        	<p>The impact of the Learning Hut was immediate. In 2018, before the Learning Hut, the UPSR passing rate for the students in the school was zero for both English comprehension and English writing. By 2019, 15 of 40 students passed English comprehension, and five of 40 passed English writing.</p>
		        	</div>

		        	<div class="menu-outer" id="teacher-02" style="margin-top: 1.3em;">
			          <div class="menu-inner">
			            <img src="/images/chapters/samuel.png" alt="">
			          </div>
			          <div class="menu-title main">Teacher Samuel Isaiah</div>
				    </div>
		       		<div id="hero-2" style="margin-top: 3em;">
			        	<h4>Teacher Samuel Isaiah</h4>
			        	<p>When Teacher Samuel was first deployed to teach at a primary school in Pahang, he noticed that one of the main obstacles to education for Orang Asli children was the common perception among teachers that indigenous children cannot be taught.</p>
			        	<p>Samuel refused to accept that perception, and instead decided to examine his own teaching strategies, to see if he could make them more accessible to Orang Asli children.</p>
			        	<p>After conducting a needs analysis of his students, he quickly realised that following the existing syllabus would not be effective as the children were unable to read.</p>
			        	<p>He then started engaging with the students, their families, and the whole community, even bringing the parents to school to build rapport.</p>
			        	<p>Samuel even went a step further by bringing the school to the community, holding ‘Sekolah Pokok’ classes under a tree, right in the village.</p>
			        	<p>His efforts improved the students’ English pass rate from 30% (2008-2012) to 80% (2013-2017).</p>
			        	<p>But more importantly, he helped make education a community effort, where students and parents had a strong say in what took place in the classroom.</p>
		        	</div>

		        	<div class="menu-outer"id="teacher-03" style="margin-top: 1.3em;">
			          <div class="menu-inner">
			            <img src="/images/chapters/subaidi.png" alt="">
			          </div>
			            <div class="menu-title main">Cikgu Subaidi</div>
				    </div>
		        	<div id="hero-3" style="margin-top: 3em;">
			        	<h4>Cikgu Subaidi</h4>
			        	<p>Cikgu Subaidi is a champion of giving teachers more freedom to adapt teaching methods to suit his students and the context they live in. That’s because he has found success by doing just that.</p>
			        	<p>He calls his adapted teaching method ‘Rimbagogi’. Lessons are imbued with elements drawn from his Orang Asli students’ daily life, environment and culture, making them easier to relate to.</p>
			        	<p>When lessons require students to understand concepts unfamiliar to his students, Cikgu Subaidi uses technology to bridge the gap. For example, he used virtual reality headsets to help his students learn about the Petronas Twin Towers.</p>
			        	<p>Other innovative methods he’s used include the use of board games to strengthen his students’ vocabulary and spelling.</p>
			        	<p>From 2016 to 2019, the English passing rate for his students was 100%.</p>
		        	</div>
		        </div>



    			<!-- <div class="hero-img"> -->



		        <!-- </div> -->
    		</div>
    	</section>


    <script src="/javascripts/script.js"></script>
    </body>
</html>
