<!DOCTYPE html>
<html lang="ms">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="title" content="Sekolah Kita">
    <meta name="description" content="Sertai pelajaran interaktif ini untuk mempelajari tentang cabaran pendidikan yang dihadapi oleh pelajar-pelajar Orang Asli, dan bagaimana kita semua dapat mengatasi cabaran tersebut.">
    <meta name="og:title" content="Sekolah Kita">
    <meta name="og:description" content="Sertai pelajaran interaktif ini untuk mempelajari tentang cabaran pendidikan yang dihadapi oleh pelajar-pelajar Orang Asli, dan bagaimana kita semua dapat mengatasi cabaran tersebut.">
    <meta name="keywords" content="orang asli, malaysia, malaya, history, education">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="30 days">
    <meta name="og:image" content="/images/thumbnails/Home-BM.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <title><%= title %></title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script>
    <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
  </head>
  <body>

    <div id="landingView">
        <span id="loading"></span>
        <div id="loading-bar"><img src="/images/SekolahKita-loading-bar.gif" alt=""></div>
    </div>

    <%- include menu/nav-btn-bm.ejs %>
    <%- include popups/coming-soon-bm.ejs %>

    <script src="/javascripts/landing-bm.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
