<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script>
    <script src="/javascripts/ease.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/orang-asli.css' />
  </head>
  <body>
      <%- include menu/nav-btn.ejs %>
        <section class="oa-wrapper">
            <section class="flex-item-left">
                <img src="/images/orang-asli/mask-group-4@2x.png" alt="LOGO DESCRIPTION">
            </section>

            <section class="flex-item-right">
                <div class="credit-col">
                  <h3>Who Are The Orang Asli?</h3>
                    <div>
                      <div id="brinjal">
                        <img src="images/orang-asli/brinjal-pregnant.png" alt="">
                      </div>
                      <p>A long time ago, in a time before history, there were two mountains. On each grew a Brinjal and a Chili, who married and produced nine children.</p>
                      <p>The last-born of these children was Aluej. And it was he who placed the first peoples into their appointed lands, and taught them about their ethnic groups – Lanoh, Kensiw, Menriq, and so on.</p>
                      <p>That is how Malaysia’s earliest tribes came to be, according to Temiar beliefs.</p>
                      <p>Of course, the Temiar’s is not the only account. Such is oral history, that there are as many origin stories as there are tribes.</p>
                      <p>Some tribes in the north say they were fleeing a war between two king-monkeys, when a fire burned their hair. That is why they live where they are today, and have frizzy hair.</p>
                      <p>Other groups tell of an epic migration across wild seas, and a shipwreck that caused different people to arrive at different shores, eventually forming different tribes.</p>
                      <p>And then many scientists, citing archaeological and genetic evidence, suggest that all modern humans migrated out of east Africa, with some arriving in Peninsular Malaysia around 10,000 years ago.</p>
                      <p>Of course, it wasn’t called Peninsular Malaysia then. Malaysia wasn’t even a country yet.</p>
                    </div>

                    <div id="timeline"></div>
                    <div class="btn-container">
                      <button id="timeline-prev">Previous</button>
                      <button id="timeline-next">Next</button>
                    </div>


                </div>
            </section>
        </section>


    <script src="/javascripts/orang-asli.js"></script>
  </body>
</html>
