<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="title" content="Who Are The Orang Asli?">
    <meta name="description" content="How did the diverse early settlers of the Malay Peninsular come to be known as Orang Asli? Read to find out!">
    <meta name="keywords" content="orang asli, malaysia, malaya, history, education">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">
    <meta name="image" content="public/images/thumbnails/Who-Are-the-Orang-Asli.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script>
    <script src="/javascripts/ease.js"></script>
     <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/orang-asli.css' />
  </head>
  <body>
      <%- include menu/nav-btn.ejs %>
      <%- include popups/coming-soon.ejs %>
        <section class="oa-wrapper">
            <section class="flex-item-left">
                <!-- <img src="/images/orang-asli/mask-group-4@2x.png" alt="LOGO DESCRIPTION"> -->
            </section>

            <section class="flex-item-right">
                <div class="credit-col">
                  <h3>Who Are The Orang Asli?</h3>
                      <div id="brinjal">
                        <img src="images/orang-asli/brinjal-pregnant.png" alt="">
                      </div>
                      <p>A long time ago, in a time before history, there were two mountains. On each grew a Brinjal and a Chili, who married and produced nine children.</p>
                      <p>The last-born of these children was Aluej. And it was he who placed the first peoples into their appointed lands, and taught them about their ethnic groups – Lanoh, Kensiw, Menriq, and so on.</p>
                      <p>That is how Malaysia’s earliest peoples came to be, according to Temiar beliefs.</p>
                      <p>Of course, the Temiar’s is not the only account. Such is oral history, that there are as many origin stories as there are people groups.</p>
                      <p>Some groups in the north say they were fleeing a war between two king-monkeys, when a fire burned their hair. That is why they live where they are today, and have frizzy hair.</p>
                      <p>Other groups tell of an epic migration across wild seas, and a shipwreck that caused different people to arrive at different shores, eventually forming different people groups.</p>
                      <p>And then many scientists, citing archaeological and genetic evidence, suggest that all modern humans migrated out of east Africa, with some arriving in Peninsular Malaysia around 10,000 years ago*.</p>
                      <p>Of course, it wasn’t called Peninsular Malaysia then. Malaysia wasn’t even a country yet.</p>

                      <br><p style="text-align: center;"><strong>A brief history of the Malay Peninsula</strong></p>
                      <div id="timeline">
                        <div class="btn-container">
                          <button id="timeline-prev"></button>
                          <button id="timeline-next"></button>
                        </div>
                      </div>

                        <p>And so between 10,000 and 2,000 years ago*, many different peoples came and settled in different areas in the peninsula, developing distinct cultures and systems. Some lived off the sea, some farmed in the lowlands, some foraged in the jungles.</p>
                        <p>These peoples – who arrived before Malay kingdoms and colonial powers – are today known as the Orang Asli.</p>
                        <p>But for most of history, they were not known as the Orang Asli. Each community would refer to themselves and each other according to the landscape they inhabit, but they were so different from each other that they did not think of themselves collectively.</p>
                        <p>Later on, when other populations became dominant, these mainstream populations would refer to them with terms like “sakai”, which is considered derogatory to the community themselves.</p>
                        <p>It was only in the 1950s that the term Orang Asli became widely used. It is a Malay term meaning “original people”, and was coined by the colonial government during its war against communist insurgents. By referring to them with a dignified term, the government hoped to win their support against the communists, who were mostly hiding in the jungles.</p>
                        <p>Although the Orang Asli identity was imposed by authorities, as time passed, it became clear to the Orang Asli themselves that they had more in common with each other than with the mainstream population. At the very least, they shared the same bad experiences when interacting with the mainstream – history is full of instances where the Orang Asli had their lands taken away, or were displaced for development projects that only benefited mainstream populations.</p>
                        <p>And so the descendents of Malaysia’s earliest inhabitants, as diverse a group of people as you could expect, now see each other as Orang Asli.</p>
                        <p>Today, there are 18 officially recognised Orang Asli ethnic groups, classified into three broad categories called Negrito, Senoi, and Proto Malay (or Aboriginal Malay). However, this still does not do justice to their vast diversity.</p>
                        <p>In addition to their historical diversity, modern society has added another layer of diversity – those who live near cities, are different from those regrouped into structured agricultural settlements, who are in turn different from those who still live within the forest. Access to capital, education, markets, and even political power also varies widely from one village or person to another.</p>
                        <p>However, all Orang Asli still share the same historical connection with the land, as the descendants of its earliest inhabitants. Indeed, many continue to depend on the land, living off it according to traditions and customs handed down to them from generation to generation, since a time before history. A time when Aluej placed each in their appointed place, and only king-monkeys could displace them.</p>

                    <!-- <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/...." frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div> -->
                    
                      <br><p><em>*Some scholars place the earliest migration into the peninsular as early as 25,000 years ago</em></p><br>

                      <div class="footnote">
                        <p><strong>Sources:</strong></p>
                        <p>Temiar creation story from <em>Temiar Religion 1964-2012</em>, by Geoffrey Benjamin</p>
                        <p>Additional creation stories from <em>Flying Lizards and other Orang Asli Legends and Tales</em>, edited by Colin Nicholas</p>
                        <p>“Out of Africa” theory from <em>A Geographically Explicit Genetic Model of Worldwide Human Settlement History</em>, by Hua Lie, Franck Prugnolle, Andrea Manica and Françoise Balloux</p>
                        <p>Early history of Orang Asli populations and ethnic identity from <em>The Orang Asli and the Contest for Resources</em>, by Colin Nicholas, and <em>Orang Asli in Malaysia: Population, Spatial Distribution and Socio-economic Condition</em>, by Tarmiji Masron, Fujimaki Masami and Norhasimah Ismail</p>
                        <p>Origin of the term Orang Asli from <em>‘Orang Asli’</em> is an English Term, by Colin Nicholas</p>
                        <p>History of early states in the Malay Peninsula from <em>World and its Peoples: Malaysia, Singapore, Brunei and the Philippines</em></p>
                        <p>History of migration into the Malay Peninsula from <em>Malaysia/Singapore as Immigrant Societies</em>, by Anthony Reid</p>
                        <p>British colonial history in the Malay Peninsula from <em>Twentieth Century Impressions of British Malaya: The Straits Settlements</em>, by Arnold Wright</p>
                    </div>

                </div>
            </section>
        </section>


    <script src="/javascripts/orang-asli.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
