<!DOCTYPE html>
<html lang="ms">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="title" content="Siapakah Orang Asli?">
    <meta name="description" content="Bagaimanakah penduduk terawal di Semenanjung Tanah Melayu yang begitu beragam mula dikenali sebagai Orang Asli? Baca untuk ambil tahu!">
    <meta name="og:title" content="Siapakah Orang Asli?">
    <meta name="og:description" content="Bagaimanakah penduduk terawal di Semenanjung Tanah Melayu yang begitu beragam mula dikenali sebagai Orang Asli? Baca untuk ambil tahu!">
    <meta name="keywords" content="orang asli, malaysia, malaya, history, education">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="30 days">
    <meta name="og:image" content="images/thumbnails/Who-Are-the-Orang-Asli.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script>
    <script src="/javascripts/ease.js"></script>
     <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/orang-asli.css' />
  </head>
  <body>
      <%- include menu/nav-btn-bm.ejs %>
      <%- include popups/popup-bm.ejs %>
        <section class="oa-wrapper">
            <section class="flex-item-left">
                <!-- <img src="/images/orang-asli/mask-group-4@2x.png" alt="LOGO DESCRIPTION"> -->
            </section>

            <section class="flex-item-right">
                <div class="credit-col">
                  <h3>Siapakah Orang Asli?</h3>
                      <div id="brinjal">
                        <img src="images/orang-asli/brinjal-pregnant.png" alt="">
                      </div>
                      <p>Pada zaman dahulu kala, terdapat dua buah gunung. Padanya tumbuh Terung dan Cili, mereka telah berkahwin dan menimang sembilan orang cahaya mata.</p>
                      <p>Anak bongsu bernama Aluej. Dialah yang menempatkan manusia awal di kawasan masing-masing dan mengajar tentang kumpulan etnik mereka - Lanoh, Kensiw, Menriq, dan sebagainya.</p>
                      <p>Begitulah kewujudan suku kaum terawal di Malaysia, menurut kepercayaan suku kaum Temiar.</p>
                      <p>Tentulah, bukan hanya kaum Temiar yang mempunyai kisah sebegini. Malahan, banyak lagi suku kaum mempunyai kisah asal usul tersendiri.</p>
                      <p>Beberapa suku kaum di utara menyatakan ketika mereka melarikan diri daripada perang antara dua raja monyet, rambut mereka disambar api. Itulah sebabnya mereka menetap di kawasan mereka sekarang, dan mempunyai rambut keriting.</p>
                      <p>Suku kaum lain pula mengisahkan tentang suatu penghijrahan epik merentasi laut ganas. Kapal karam menyebabkan mereka terpisah dan mendarat di pantai yang berlainan, dan akhirnya membentuk suku kaum yang berbeza. </p>
                      <p>Para saintis pula, mengungkap bukti arkeologi dan genetik, menegaskan bahawa manusia moden berhijrah keluar dari Afrika Timur, dan sebahagian telah sampai ke Semenanjung Malaysia kira-kira 10,000 tahun lalu*.</p>
                      <p>Begitupun, pada waktu itu ia tidak disebut Semenanjung Malaysia. Malaysia belum pun menjadi sebuah negara.</p>

                      <br><p style="text-align: center;"><strong>Sejarah ringkas Semenanjung Tanah Melayu</strong></p>
                      <div id="timeline">
                        <div class="btn-container">
                          <button id="timeline-prev"></button>
                          <button id="timeline-next"></button>
                        </div>
                      </div>

                        <p>Sekitar 10,000 dan 2,000 tahun lalu*, pelbagai manusia datang dan menetap di pelbagai tempat di semenanjung, mengembangkan budaya dan sistem yang tersendiri. Ada yang tinggal di pinggir laut, ada yang bertani di tanah pamah dan ada yang mencari makanan di hutan. </p>
                        <p>Mereka ini, yang tiba sebelum zaman kesultanan Melayu dan kuasa-kuasa penjajah – kini dikenali sebagai Orang Asli.</p>
                        <p>Pada sebahagian besar sejarah, mereka tidak dikenali sebagai Orang Asli. Sebaliknya, setiap komuniti merujuk kepada diri mereka sendiri mengikut kepada kawasan yang mereka diami, dan mereka sangat berbeza antara satu sama lain sehinggakan mereka tidak menganggap bahawa diri mereka serumpun.</p>
                        <p>Selepas itu, apabila kaum lain semakin dominan, kaum-kaum dominan itu mula memanggil mereka dengan menggunakan istilah seperti “sakai”, yang mereka sendiri menganggap sebagai istilah yang menghinakan.</p>
                        <p>Hanyalah pada 1950-an, istilah “Orang Asli” mula digunakan secara meluas. Ia dicipta oleh pemerintah kolonial British semasa perang melawan pemberontak komunis. Dengan menggelar mereka begitu, kerajaan berharap mendapat sokongan mereka menentang pihak komunis, yang pada masa itu sering menyorok di kawasan hutan.</p>
                        <p>Walaupun identiti Orang Asli itu diperkenalkan oleh pihak berkuasa, seiring dengan masa berlalu, mereka mendapati Orang Asli sendiri mempunyai lebih banyak persamaan antara mereka, berbanding dengan penduduk arus perdana. Paling tidak, mereka berkongsi pengalaman negatif yang sama semasa berinteraksi dengan penduduk arus perdana – sejarah sering memaparkan kejadian Orang Asli diusir dari tanah adat mereka, atau dipindahkan demi projek pembangunan yang hanya menguntungkan penduduk arus perdana.</p>
                        <p>Dan itulah keturunan penghuni terawal di Malaysia, yang begitu berbeza antara satu sama lain, yang akhirnya mula menerima identiti Orang Asli.</p>
                        <p>Kini terdapat 18 etnik Orang Asli yang diiktiraf secara rasmi, diklasifikasikan kepada tiga kategori luas yang disebut Negrito, Senoi dan Melayu Proto (Melayu Asli). Bagaimanapun, ia masih tidak menunjukkan dengan sepenuhnya kepelbagaian mereka.</p>
                        <p>Selain kepelbagaian sejarah, kemajuan dan pemodenan melebarkan lagi kepelbagaian dalam kalangan Orang Asli - bagi yang tinggal berhampiran bandar, berbeza dengan yang ditempatkan semula dalam projek perladangan, yang juga berbeza dengan yang masih tinggal di kawasan hutan. Kemudahan kewangan, pendidikan, kebolehpasaran dan jurang politik berbeza dari kampung ke kampung, dan juga individu ke individu.</p>
                        <p>Bagaimanapun, semua orang Asli masih berkongsi hubungan sejarah yang sama dengan tanah adat mereka, seperti mana keturunan penduduk awal. Ramai lagi yang masih bergantung kepada tanah adat mereka, dan menjalani kehidupan tradisi seperti yang diturunkan kepada mereka dari generasi ke generasi, sejak zaman dahulu kala. Sejak Aluej memulakan penempatan manusia, dan hanya raja monyet yang boleh mengusir mereka.</p>

                    <!-- <div class="video-container">
                      <iframe src="https://www.youtube.com/embed/...." frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div> -->

                      <br><p><em>*Sesentengah pengkaji menganggarkan penghijrahan terawal ke semenanjung Melayu bermula seawal 25,000 tahun yang lalu</em></p><br>

                      <div class="footnote">
                        <p><strong>Sumber:</strong></p>
                        <p>Kisah penciptaan manusia Temiar dipetik dari <em>Temiar Religion 1964-2012</em>, oleh Geoffrey Benjamin</p>
                        <p>Kisah penciptaan lain dipetik dari <em>Flying Lizards and other Orang Asli Legends and Tales</em>, disunting oleh Colin Nicholas</p>
                        <p>Teori “Out of Africa” dipetik dari <em>A Geographically Explicit Genetic Model of Worldwide Human Settlement History</em>, oleh Hua Lie, Franck Prugnolle, Andrea Manica dan Francoise Balloux</p>
                        <p>Sejarah awal populasi dan identiti etnik Orang Asli, dipetik dari <em>The Orang Asli and the Contest for Resources</em>, oleh Colin Nicholas, dan <em>Orang Asli in Malaysia: Population, Spatial Distribution and Socio-economic Condition</em>, oleh Tarmiji Masron, Fujimaki Masami dan Norhasimah Ismail</p>
                        <p>Asal usul istilah Orang Asli dipetik dari <em>‘Orang Asli’</em> is an English Term, oleh Colin Nicholas</p>
                        <p>Sejarah negeri-negeri awal di Semenanjung Tanah Melayu dipetik dari <em>World and its Peoples: Malaysia, Singapore, Brunei and the Philippines</em></p>
                        <p>Sejarah migrasi di Semenanjung Tanah Melayu dipetik dari <em>Malaysia/Singapore as Immigrant Societies</em>, oleh Anthony Reid</p>
                        <p>Sejarah penjajahan British di Semenanjung Tanah Melayu dipetik dari <em>Twentieth Century Impressions of British Malaya: The Straits Settlements</em>, oleh Arnold Wright</p>
                    </div>

                </div>
            </section>
        </section>


    <script src="/javascripts/orang-asli-bm.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
