<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="title" content="Research papers and other resources on Orang Asli education">
<meta name="description" content="A collection of research papers and other resources about education among Orang Asli communities">
<meta name="keywords" content="orang asli, malaysia, malaya, history, education">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="revisit-after" content="30 days">
<meta name="image" content="images/thumbnails/Resources-Eng.jpg">
<meta name="twitter:card" content="summary_large_image">
<title><%= title %></title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.min.js"></script> -->
<link rel="icon" type="image/jpg" href="/images/favicon.png"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/resources.css' />
</head>
    <body>
      <%- include menu/nav-btn.ejs %>
      <%- include popups/coming-soon.ejs %>
        <section class="resources-wrapper">
            <section class="flex-item-left">
                <img src="/images/resources-img/doodle.png" alt="">
            </section>

            <section class="flex-item-right">
                <div class="credit-col">
                    <h3>Resources</h3>
                    <h4>Research papers</h4>
                    <div class="resource-link">
                        <img id="pdf" src="/images/resources-img/paperIcon-eduresearch.png" alt="">
                          <a href="https://www.ideas.org.my/publications-item/contextualising-education-policy-to-empower-orang-asli-children/" target="_blank">
                            <p>Contextualising Education Policy to Empower Orang Asli Children</p>
                        </a>
                    </div>
                    <div class="resource-link">
                        <img id="pdf" src="/images/resources-img/paperIcon-education.png" alt="">
                        <a href="https://www.ideas.org.my/publications-item/policy-paper-no-66-education-policies-in-overcoming-barriers-faced-by-orang-asli-children-education-for-all/" target="_blank">
                            <p>Education Policies in Overcoming Barriers Faced by Orang Asli Children</p>
                        </a>
                    </div>
                    <div class="resource-link">
                        <img id="pdf" src="/images/resources-img/edu-gap.png" alt="">
                        <a href="https://www.ideas.org.my/publications-item/brief-ideas-no-24-the-education-gap-of-the-indigenous-communities-of-australia-and-canada/" target="_blank">
                            <p>The Educational Gap of the Indigenous Communities of Australia and Canada</p>
                        </a>
                    </div>
                    <div class="resource-link">
                        <img id="pdf" src="/images/resources-img/paperIcon-self-determination.png" alt="">
                        <a href="https://www.ideas.org.my/publications-item/brief-ideas-no-26-orang-asli-and-the-right-to-self-determination-are-we-there-yet/" target="_blank">
                            <p>Orang Asli and the Right to Self-Determination: Are we there yet?</p>
                        </a>
                    </div>
                    <h4>Opinion</h4>
                    <div class="resource-link">
                        <img id="pdf" src="/images/resources-img/paperIcon-aptitude-attitide.jpeg" alt="">
                        <a href="https://www.ideas.org.my/changes-in-aptitudes-changes-in-attitudes-2/" target="_blank">
                            <p>Changes in Aptitudes, Changes in Attitudes</p>
                        </a>
                    </div>
                    <h4>Laws</h4>
                     <div class="resource-link">
                        <img id="pdf" src="/images/resources-img/paperIcon-Aboriginal.png" alt="">
                        <a href="https://drive.google.com/file/d/1dDsNQ8ef1jtZgXAMvRz1zhGiFsIinjlC/view?usp=sharing" target="_blank">
                            <p>Aboriginal Peoples Act 1954</p>
                        </a>
                    </div>
                </div>
            </section>
        </section>

    <script src="/javascripts/script.js"></script>
    </body>
</html>
