<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/fabric@4.6.0/dist/fabric.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/take-action.css' />
  </head>
  <body>

    <section class="oa-wrapper">
        <section class="flex-item-left">
          <canvas id="customize-area" width="600" height="750"></canvas>
        </section>

        <section class="flex-item-right">
          <button><img src="images/Nature-assets/Bamboo-percussions.png"></button>
          <button><img src="images/Nature-assets/Erhu.png"></button>
          <button><img src="images/Nature-assets/Indian-drums.png"></button>
        </section>
    </section>


    <script src="/javascripts/take-action.js"></script>
  </body>
</html>
