<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/fabric@4.6.0/dist/fabric.min.js"></script>
    <link rel="icon" type="image/jpg" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/take-action.css' />
  </head>
  <body>
    <%- include menu/nav-btn.ejs %>
    <%- include popups/popup.ejs %>
    <section class="ta-wrapper">
        <section class="flex-item-left">
             <h3>Take Action!</h3>
              <p>Well done! You’ve learned about the six key ways we can improve education access for Orang Asli children. Now you can do your part by spreading the word! Create your own campaign badge and share it on your social media.</p>
          <canvas id="customize-area"></canvas>
        </section>

        <section class="flex-item-right">
          <div class="oa-col">
            <div class="mobile-btns">
                <button class="m-choose-bg"><img src="/images/take-action/Group-365.svg"></button>
                <button class="m-add-stk"><img src="/images/take-action/Group-366.svg"></button>
                <button><img src="/images/take-action/Group-367.svg"></button>
                <button><img src="/images/take-action/Group-368.svg"></button>
            </div>
            <div class="bottom-mobile-btn">
                <button><img src="/images/take-action/ic_file_download_24px.svg">Download</button>
                <button style="background-color: #FFB806;"><img src="/images/take-action/ic_share_24px.svg">Share</button>
            </div>

            <div class="choose-badge">
              <h4>Choose a classroom to start</h4>
                <button id="no-bg">No Background</button>
                <button class="sticker-bg"><img src="/images/Science-assets/Science-classroom-background.png"></button>
                <button class="sticker-bg"><img src="/images/Bamboo-assets/Bamboo-class-background.PNG"></button>
                <button class="sticker-bg"><img src="/images/Nature-assets/Nature-classroom-background.PNG"></button>
                <button id="preload-science"><img src="/images/Science-classroom.PNG"></button>
                <button id="preload-bamboo"><img src="/images/Bamboo-classroom.PNG"></button>
                <button id="preload-nature"><img src="/images/Nature-classroom.PNG"></button>
            </div>

            <div class="add-stickers">
              <h4>Add Stickers</h4>
                <button class="sticker"><img src="/images/Nature-assets/Bamboo-percussions.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Erhu.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Indian-drums.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Kompang.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Lotong-monkey.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Nipah-paper.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Orang-asli-blowpipe.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Orang-asli-elder.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Sang-kancil-dlm-kelas.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Woven-basket-half-done.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/Woven-basket.png"></button>
                <button class="sticker"><img src="/images/Nature-assets/river-doodle.png"></button>

                <button class="sticker"><img src="/images/Bamboo-assets/Cangkul-spade.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Encyclopaedias-books.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Female-teacher.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Festive-items.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Hanging-plant.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Kolam-drawing.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Mannequin.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Notebook-page.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Potted-plants.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Sports.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Straw-hat.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Wau-traditional-toys.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/White-board-doodle-map.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Whiteboard.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Woven-basket.png"></button>
                <button class="sticker"><img src="/images/Bamboo-assets/Woven-mat.png"></button>

                <button class="sticker"><img src="/images/Science-assets/Algebra-formula.png"></button>
                <button class="sticker"><img src="/images/Science-assets/butterfly-taxidermy-cocoon.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Clothes-rack.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Desk.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Diagram.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Doctor-tool.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Doodles-notebook.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Globe.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Grid-paper-notebook.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Laptop-QR-code.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Male-teacher.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Mechanical-engineering.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Parts-plant.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Potted-plant-germination.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Robotic-hand.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Science-anatomy-sculpture.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Test-tube.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Tools.png"></button>
                <button class="sticker"><img src="/images/Science-assets/Whiteboard-science-classroom.png"></button>
            </div>
            <div class="bottom-btn">
                <button id="add-text">Add text</button>
                <button id="delete-sticker">Remove selected item</button>
                <button id="download-badge"><img src="/images/take-action/ic_file_download_24px.svg">Download</button>
                <button id="share-item"><img src="/images/take-action/ic_share_24px.svg">Share</button>
            </div>

           </div>
        </section>
    </section>

    <script src="/javascripts/canvas-toBlob.js"></script>
    <script src="/javascripts/FileSaver.js"></script>
    <script src="/javascripts/take-action.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
