body
{
  background-color: #49463f;
}


.ch-2 #school-prev, .ch-2 #school-next {
	position: absolute;
	top: 70%;
	cursor: pointer;
	font-family:'Archer Bold', serif;
	border: none;
	background-color: #e6e2dd;
}
.ch-2 #school-prev img, .ch-2 #school-next img {
	width: 45%;
}
.ch-2 #school-prev {
	right: 33%;
	width: 95px;
}

.ch-2 #school-next {
	right: 8%;
	width: 95px;
}

.ch-2 .ch-prev, .ch-2 .ch-next {
	display: none;
}

.info-box {
  width: 30%;
  height: 45%;
  background-color: #E6E2DD;
  padding: 4%;
  position: absolute;
  top: 20%;
  right: 5%;
  display: block;
  font-size:14px;
}


.chtitle {
	font-family: 'Archer Bold', serif;
	font-size: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.chcounter {
	text-align: center;
    bottom: 12%;
    position: absolute;
    right: 45%;
}

.ch-prev.final {
  display: block;
  right: 28%;
  top: 70%;
  position: absolute;
  width: 11%;
}

.ch-next.final {
  right: 9%;
  display: block;
  top: 70%;
  position: absolute;
  width: 7%;
}

