
.ch-2
{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #49463f;
}

#school-start, #start-again {
  position: absolute;
}

#school-start {
  background-image: url(/images/Chapter2-ENG/group-438.svg);
  border: none;
  background-color: #ffffff00;
  background-repeat: no-repeat;
  font-size: 20px;
  color: #4c140a;
  font-family: 'Archer Bold';
  cursor: pointer;
  width: 240px;
  height: 63px;
  top: 54%;
  right: 42%;
  position: absolute;
}

#start-again {
  background-image: url(/images/Chapter2-ENG/group-438.svg);
  border: none;
  background-color: #ffffff00;
  width: 240px;
  margin-left: 17%;
  height: 63px;
  transform: scale(0.8);
  background-repeat: no-repeat;
  font-size: 20px;
  color: #4c140a;
  font-family: 'Archer Bold';
  cursor: pointer;
}

.ch-2 #school-prev, .ch-2 #school-next {
	position: absolute;
	top: 70%;
	cursor: pointer;
	font-family:'Archer Bold', serif;
	border: none;
	background-color: #e6e2dd;
  display: none;
}
.ch-2 #school-prev img, .ch-2 #school-next img {
	width: 45%;
}
.ch-2 #school-prev {
	right: 33%;
	width: 95px;
}

.ch-2 #school-next {
	right: 8%;
	width: 95px;
}

.ch-2 .ch-prev, .ch-2 .ch-next {
	display: none;
}

.info-box {
  width: 30%;
  height: 45%;
  background-color: #E6E2DD;
  padding: 4%;
  position: absolute;
  top: 20%;
  right: 5%;
  display: none;
  font-size:14px;
}

.info-box.finished {
  top: 60%;
  background-color: #e6e2dd00;
  right: 30%;
  height: 25%;
}

/*.ch-startover {
  background-image: url(/images/Chapter2-ENG/group-438.svg);
  border: none;
  background-color: #ffffff00;
  width: 55%;
  margin-left: 23%;
  height: 35%;
  transform: scale(0.8);
  background-repeat: no-repeat;
  font-size: 20px;
  color: #4c140a;
  font-family: 'Archer Bold';
  cursor: pointer;
}*/


.chtitle.finished {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.chtitle {
	font-family: 'Archer Bold', serif;
	font-size: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.chcounter {
	text-align: center;
    bottom: 12%;
    position: absolute;
    right: 45%;
}

.ch-prev.final:lang(ms) {
  display: block;
  right: 48%;
  top: 82%;
  position: absolute;
  width: 11%;
  transform: scale(0.7);
}

.ch-next.final:lang(ms) {
  right: 37.3%;
  display: block;
  top: 82%;
  position: absolute;
  width: 13%;
  transform: scale(0.7);
}


@media (max-width: 1200px) and (min-width: 801px) {
  #school-start, #start-again {
    right: 34%;
  }

  .ch-2 #school-prev, .ch-2 #school-next {
    top: 67%;
  }

  .ch-2 #school-next {
    right: 5%;
  }
  .ch-2 #school-prev {
    right: 31%;
  }
}


@media (max-width: 800px) {
  .info-box {
    width: 92%;
  height: 40%;
  background-color: #E6E2DD;
  padding: 12% 4%;
  overflow-x: scroll;
  position: absolute;
  bottom: 0;
  right: inherit;
  top: inherit;
  display: none;
  font-size: 12px;
  }

  .ch-startfirst {
    width: 241px;
    right: 16%;
    top: 70%;
  }

  .ch-2 #school-prev {
    right: inherit;
    width: 95px;
    top: inherit;
    bottom: 2%;
    left: 0;
  }
  .ch-2 #school-next {
    right: 0;
    width: 95px;
    top: inherit;
    bottom: 2%;
    left: inherit;
  }

  .chcounter {
    bottom: 7%;
  }

  #start-again {
    width: 241px;
    height: 65px;
    margin-left: 0;
    position: absolute;
    right: 20%;
  }

  .info-box.finished {
    top: inherit;
    right: 0;
    height: 22%;
    bottom: 0;
  }

  #school-start {
    width: 240px;
    right: 18%;
    top: 65%;
  }

  .ch-startover {
    width: 241px;
    height: 65px;
    margin-left: 0;
    position: absolute;
    right: 20%;
  }

  .ch-next.final {
    right: 23%;
    top: 88%;
    width: 29%
  }

  .ch-prev.final {
    right: 46%;
    top: 88%;
    width: 33%;
  }

}
