@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('font/font.css');
@import url('style.css');


.wrapper {
	display: flex;
	flex-wrap: wrap;
}
.flex-item-left {
	flex: 0%;
  	border: solid 1px #000;
  	/*height: 100vh;*/
  	align-items: center;
  	justify-content: center;
  	display: flex;
}
.flex-item-right {
	flex: 0%;
  	border: solid 1px #000;
  	height: 100vh;
  	align-items: flex-start;
  	justify-content: center;
  	display: flex;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.credit-desc {
	padding: 8em;
}

.credit-col-left {
	width: 25%;
	margin: 8em 2em;
}
.credit-col-right {
	width: 25%;
	margin: 8em 2em;
}

.img-top{
	display: flex;
	justify-content: center;
}

.img-top img {
	width: 25%;
	margin-bottom: 1.5em;
}

.img-bottom {
	display: flex;
    justify-content: center;
}

.img-bottom img {
	width: 18%;
    margin: 0.5em;
}

.img-bottom img:last-child {
	transform: scale(0.75);
}
