#landingView
{
  height: 100%;
  width: 100%;
}

.home-btn{
  display: none;
}

.switch-nav
{
  display: inline-block;
}

span#loading
{
  position: absolute;
  left: 12%;
  top: 38.5%;
  width: 100%;
  z-index: 200;
  font-size: 45px;
  font-family: 'Archer Bold', serif;
  color: #4c1400;
  text-align: center;
}

#landingView {
  background-color: #EAE8E3;
}

#loading-bar {
  position: absolute;
  width: 95%;
  top: 38%;
  left: 2%;
}

#loading-bar img {
  position: relative;
  left: 35%;
  width: 25%;
}

@media (max-width: 800px) {
  span#loading {
    top: 40%;
    font-size: 35px;
  }
}
