@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('font/font.css');
@import url('style.css');


.resources-wrapper {
	display: flex;
	flex-wrap: wrap;
	background-image: url("/images/chapter-bg/chapter-page.psd@2x.png");
	background-size: contain;
}

.resources-wrapper .flex-item-left img {
	width: 80%;
	height: 100vh;
}

.credit-col {
	width: 80%;
	margin: 2em 0 0 0;
}

.credit-col h3 {
	text-align: center;
}

.resource-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.resource-link a
{
	color: #000;
}

.resource-link #pdf {
	width: 14%;
	height: 14%;
    transform: scale(0.6);
    margin-right: 1em;
}

.resources-wrapper .flex-item-right {
	height: 95vh;
    overflow-y: scroll;
}

@media (max-width: 800px) {
	.resources-wrapper {
		background-size: contain;
	}
	.flex-item-right, .flex-item-left {
    	flex: 100%;
	}
	.resources-wrapper .flex-item-left img {
		height: auto;
	}

	.credit-col {
		width: 100%;
		margin: 2em 2em;
	}
	.resource-link #download {
		transform: scale(0.7);
	}
}
