@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('font/font.css');
@import url('credits.css');
@import url('resources.css');


body
{
  font-size: 14px ;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  	color: #00B7FF;
}

p {
	line-height: 25px;
}
h3 {
	font-family: 'Archer Book', serif;
	font-size: 40px;
	font-weight: 300;
}


.flex-item-left {
	flex: 0%;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}
.flex-item-right {
	flex: 0%;
  	align-items: flex-start;
  	justify-content: center;
  	display: flex;
}
