@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('font/font.css');
@import url('credits.css');
@import url('resources.css');


body
{
  font-size: 14px ;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;

/*  background-color: #00000077;*/
}

a {
  	color: #00B7FF;
}

p {
	line-height: 25px;
}
h3 {
	font-family: 'Archer Book', serif;
	font-size: 40px;
	font-weight: 300;
}

/* layout */
.flex-item-left {
	flex: 0%;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}
.flex-item-right {
	flex: 0%;
  	align-items: flex-start;
  	justify-content: center;
  	display: flex;
}


/* navigation */
nav{
  position: absolute;
  top: 4.5vh;
  right: 7.5vh;
}

nav button{
  width: 45px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
}

nav button img{
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/bg-lang.svg");
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 37px;
  left: 4px;
  bottom: 3px;
  background: url("/images/bg-langSelector.svg");
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}
/* popups */
.pop-up{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 120;
}

.pop-container.left {
    justify-content: right;
    align-items: flex-start;
    margin-right: 3em;
    margin-top: 3em;
}

.pop-container.left:before {
    content: '\25b2';
    position: absolute;
    top: 4%;
    right: 6%;
    color: #E6E2DD;
}

.pop-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop {
    width: 35%;
    background-color: #E6E2DD;
    padding: 3rem;
    border-radius: 7px;
    text-align: center;
}

.pop-container h5 {
    font-family: 'Archer Bold';
    font-size: 20px;
    margin: 0;
}
.pop-btn.grey {
   background-color: #d1c7ba;
}
.pop-btn {
    background-color: #FFB806;
    border: none;
    border-radius: 2px;
    padding: 0.5em;
    margin: 0.5em;
    width: auto;
    font-family:'Archer Bold', serif;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 800px) {
  .pop {
    width: 60%;
  }
  .pop-container.left {
    margin-right: 0 !important;
    justify-content: center !important;
  }
  .pop-container.left:before {
    top: 3.5%;
    right: 45%;
  }
}

/* burger menu */
.menu-nav{
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.menu-nav a{
  text-decoration: none;
}

.close-btns{

}

.menu-wrapper {
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.menu-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #E6E2DD;
  justify-content: center;
  padding: 2em 11em;

}

.menu-outer {
  background-color: #FFFFFF;
  width: 240px;
  height: 320px;
  margin: 0.3em;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  display: inline-block;
}

.menu-inner {
  background-color: #997440;
  height: 220px;
  width: 220px;
  margin: 0.5em auto;
}

.menu-title.main {
  font-size: 24px;
  padding: 1em;
  font-family: 'Archer Bold', serif;
  color: #4C1400;
  height: 20px;
  display: flex;
  line-height: 1;
  align-items: flex-end;
  justify-content: center;
}

.menu-title.chapter {
  font-size: 18px;
  padding: 0 1em;
  margin-top: -0.7em;
  font-family: 'Archer Bold', serif;
  color: #4C1400;
  text-align: left;
  line-height: 1;
  width: 65%;
}

.menu-title.chapter p {
  font-size: 14px;
  margin: 0;
}

.menu-outer img {
  width: 14%;
  display: block;
  float: right;
  margin-top: -1em;
  margin-right: 0.5em;
}

.menu-btns {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin: 2em 0;
}

.menu-btns > a > div {
  margin: 1em;
}

.menu-btns a {
  font-family: 'Archer Bold', serif;
  color: #4C1400;
  font-size: 20px;
}

.menu-btns > a > div > img {
  margin-right: 0.5em;
}

.menu-open{
  display: flex;
} 
/*
.menu-close{
  display: none;
} */
