@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('font/font.css');
@import url('credits.css');
@import url('resources.css');


body
{
  font-size: 14px ;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  	color: #00B7FF;
}

p {
	line-height: 25px;
}
h3 {
	font-family: 'Archer Book', serif;
	font-size: 40px;
	font-weight: 300;
}

/* layout */
.flex-item-left {
	flex: 0%;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}
.flex-item-right {
	flex: 0%;
  	align-items: flex-start;
  	justify-content: center;
  	display: flex;
}


/* navigation */
nav{
  position: absolute;
  top: 4.5vh;
  right: 7.5vh;
}

nav button{
  width: 45px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
}

nav button img{
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/bg-lang.svg");
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 37px;
  left: 4px;
  bottom: 3px;
  background: url("/images/bg-langSelector.svg");
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}
