@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('font/font.css');
@import url('style.css');

.oa-wrapper {
	display: flex;
	flex-wrap: wrap;
	background-image: url("/images/chapters/chapter-page.psd@2x.png");
	background-size: contain;
}

.oa-wrapper .flex-item-left {
	display: block;
}

.oa-wrapper .flex-item-left h3, .oa-wrapper .flex-item-left p {
	width: 86%;
    margin: 0.5em auto;
}

.canvas-container {
	margin: 0 auto;
}

.oa-col {
	width: 85%;
    margin: 2em auto;
}

.oa-col h3 {
	text-align: left;
}

.oa-col h4 {
	font-family: 'Archer Book', serif;
	font-size: 20px;
	font-weight: 300;
}

.mobile-btns button {
	display: none;
	background-color: #D1C7BA;
	border-radius: 6px;
	border: none;
	width: 24px;
	height: 24px;
}

.bottom-mobile-btn {
	display: none;
	 
}	

#customize-area
{
	box-shadow: 0px 3px 8px #00000029;
}

#no-bg {
	font-size: 12px;
}

button
{
	vertical-align: top;
	background-color: #D1C7BA;
	border: none;
	border-radius: 5px;
	margin: 3px;
}

button img
{
  max-width: 100%;
  max-height: 100%;
}

button:active
{
  border: solid #FFB806 2px;
}

.choose-badge button
{
  height: 75px;
  width: 75px;
  padding: 5px;
  cursor: pointer;
}

.add-stickers button
{
  height: 58px;
  width: 58px;
  cursor: pointer;
}

.bottom-btn {
	margin-top: 1em;
}

.bottom-btn button {
	padding: 1em 2em;
	font-family: 'Archer Bold', serif;
	font-size: 14px;
	cursor: pointer;
}

.bottom-btn #share-item {
	background-color: #FFB806;
}

#download-badge img, #share-item img {
	margin-right: 11px;
} 


@media (max-width: 800px) {
	.oa-wrapper {
		background-size: contain;
		max-width: 100%;
	}
	.flex-item-right, .flex-item-left {
    	flex: 100%;
	}
	.oa-col {
		width: 100%;
		margin: 2em 2em;
	}
	.add-stickers {
		position: absolute;
		background-color: #E6E2DD;
	    top: 14%;
	    width: 100%;
	    left: 0;
	}
	.oa-col h4 {
		text-align: center;
	}
	.add-stickers button
	{
	  	height: 85px;
	    width: 26%;
	    margin-left: 4%;
	    margin-bottom: 13px;
	}
	.mobile-btns {
		display: flex;
	}
	.mobile-btns button {
		flex: 0%;
	  	align-items: center;
	  	justify-content: center;
	  	display: inline-flex;
	  	margin: 2%;
   		height: 54px;
	}
	.bottom-mobile-btn {
		display: flex;
	    width: 100%;
	    justify-content: space-evenly;
	}
	.bottom-mobile-btn button {
		padding: 1em;
	    width: 50%;
	    font-family:'Archer Bold', serif;
	    font-size: 16px;
	}

	.bottom-mobile-btn img {
		margin-right: 10px;
	}

}
