<nav>
  <div class="score-wrapper">
  	<img src="/images/menu/group-188.svg" alt="">
  	<span class="score-number">0</span>
  	<span class="score-total">/ 16</span>
  </div>	
  <label class="switch switch-nav">
      <input type="checkbox" id="switch">
      <span class="slider"></span>
      <span class="on">ENG</span>
      <span class="off">BM</span>
  </label>
  <a class="home-btn" href="/"><button><img src="/images/icon-home.svg" alt=""></button></a>
  <button class="menu-btn"><img src="/images/icon-menu.svg" alt=""></button>
</nav>

<nav class="menu-nav menu-close">
  <%- include menu.ejs %>
</nav>
