<nav>
  <!-- <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
      <span class="on">ENG</span>
      <span class="off">BM</span>
  </label> -->
  <a href="/"><button><img src="/images/icon-home.svg" alt=""></button></a>
  <button><img src="/images/icon-menu.svg" alt=""></button>
</nav>
